body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 25px 0;
}
.search input{
    border: 1px solid rgb(180, 174, 174);
    border-radius: 18px 0 0 18px;
}
.search input::placeholder{
    font-size: 0.8rem;
    color: rgb(85, 80, 80);
}
.search button{
    border: 1px solid rgb(180, 174, 174);
    border-radius: 0 18px 18px 0;
    background-color: rgb(38, 207, 38);
    color: white;
    font-size: 0.8srem;
    font-weight: bold;
}
.bgvideo{   
    width: 100%;
    padding: 0;
    position: relative;
    height: 80vh;

}   
.bgvideo video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fa-moon{
    font-size: 1.7rem;
    color: black;
    position: relative;
    top: 5px;
    left: 10px;
    cursor: pointer;
}   
.fa-moon:hover{
    color: #54b963;
}
.content{
    width: 100%;
    height: 100%;
    padding: 70px 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    color: white;
}
.content h1{
    letter-spacing: 1px;
    width: 50%;
    font-size: 3.5rem;
    font-weight: bold;
}
.content p{
    width: 50%;
    font-size: 1.1rem;
}
.content button{
    background-color: #54b963;
    border: none;
    color: white;
    padding: 11px 30px;
    margin-top: 30px;
    transition: 0.5s linear;
}
.content button:hover{
    background-color: transparent;
    color: #54b963;
    border: 1px solid #54b963;
}
.fa-stopwatch-20{
    font-size: 2.5rem;
    color: #54b963;
    padding-bottom: 30px;
}
.fa-thumbs-up{
    font-size: 2.5rem;
    color: #54b963;
    padding-bottom: 30px;
}
.fa-comments-dollar{
    font-size: 2.5rem;
    color: #54b963;
    padding-bottom: 30px;
}
.material{
    /* background-color: pink; */
    padding: 0 20px;
    box-shadow: 0 0 20px rgb(247, 238, 238);
    transition: 0.3s;
    border-radius: 5px;
}
.material:hover{
    box-shadow: 0 0 40px rgb(212, 204, 204);
}
.material a{
    padding-bottom: 50px;
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}
.material a:hover{
    color: #54b963;
}
.material p{
    color: rgb(70, 68, 68);
    margin-top: 5px;
}
.myimg{
    position: relative;
    height: 500px;

}
.img1{
    width: 330px;
    height: 420px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    outline: 7px solid white;
    transition: 0.3s linear;
}
.img2{
    width: 330px;
    height: 420px;
    position: absolute;
    top: 50px;
    right: 0;
    /* z-index: -1; */
    outline: 7px solid white;
    transition: 0.3s linear;
}
.myimg:hover .img1{
    top: 50px;
    right: 0;
}
.myimg:hover .img2{
    top: 0;
}
.more h6{
    font-size: 1.2rem;
}
.more h1{
    font-size: 2.3rem;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.more p{
    line-height: 27px;
}
.check{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.check span{
    color: black;
    font-size: 1.1rem;
}
.rounded-pill{
    background-color: #54b963;
    border: none;
    color: white;
    padding: 11px 30px;
    margin-top: 30px;
    transition: 0.5s linear;   
}
.rounded-pill:hover{
    background-color: transparent;
    color: #54b963 !important;
    outline: 1px solid #54b963;
}
.zoom{
    width: 100%;
    overflow: hidden;
}
.zoom img{
    width: 100%;
    height: 100%;
    transition: 0.3s linear;
}
.zoom:hover .img{
    transform: scale(1.1,1.1);
}
.card-body h3{
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: 20px;
    transition: 0.2s;
}
.card-body h3:hover{
    color: #54b963;
}
.card p{

    line-height: 30px;
    padding: 0 30px;
    font-size: 1.2rem;
    color: grey;
}
.blog{
    padding: 0;
}
.blog img{
    width: 100%;
}
.book{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tshirt h4{
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
    font-size: 1.6rem;
    transition: 0.2s;
}
.tshirt h4:hover{
    color: #54b963;
}
.pickup .fas{
    width: 120px;
    height: 120px;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4f2ff;
}
.pickup h4{
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 25px;
    transition: 0.2s;
}
.pickup h4:hover{
    color: #54b963;
}
.pickup p{
    padding: 0 40px;
    line-height: 30px;
    font-size: 1rem;
    color: grey;
    text-align: center;
}
.book p{
    font-size: 1.1rem;
    width: 80%;
    color: grey;
}
.long-btn{
    width: 250px;
    color: white;   
    background-color: #54b963;
    border: none;
    padding: 9px 0;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    transition: 0.2s;
}
.book-btn:hover{
    background-color: transparent;
    outline: 3px solid #54b963;
    color: #54b963;
    font-weight: normal;
}
.card-text .fas{
    color: #54b963;
}
.card-text span{
    color: grey;
    text-decoration: none;
    padding: 0 10px;
    font-size: 1rem;
}
.card-text :last-child{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 15px 30px;
    margin-top: 10px;
}
.fa-phone-volume{
    color: #fff;
    font-size: 2.5rem;
}
.phone{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.phone span{
    font-size: 1.5rem;
    color: #fff;
}
.phone button{
    padding: 10px 30px;
    background-color: #fff;
    color: #333333;
    border-radius: 25px;
    border: none;
    margin: 0 5px;
    transition: 0.3s;
}
.phone button:hover{
    background-color: black;
    color: white;
}
.col-md-9 span{
    border-bottom: 3px solid #54b963;
    font-weight: bold;
    padding: 0  20px;
}
.font{
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.font .fab{
    width: 35px;
    height: 35px;
    font-size: 1.1rem;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}
.font .fab:hover{
    background-color: #54b963;
    color: white;
}
@media (max-width: 1399.98px) {}
@media (max-width: 1199.98px) {
    .content{
        padding: 50px 0;
    }
    .content h1{
        width: 70%;
    }
    .serv h5{
        font-size: 1.2rem;
    }
    .serv h1{
        font-size: 2.5rem;
    }
    .serv .card-text h3{
        padding: 0;
        font-size: 1.6rem;
    }
    .serv .card-text p{
        padding: 5px 0;
        font-size: 0.9rem;
        line-height: 22px;
    }
    .serv .card-text button{
        padding: 12px 25px;
        font-size: 0.9rem;
    }
    .book{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: red; */
        margin: 0 !important;
        padding: 0 20px !important;
    }
    .book h5{
        font-size: 1.2rem;
    }
    .book h1{
        font-size: 2.2rem;
    }
    .book p{
        width: 100%;
        font-size: 1rem !important;
    }
    .book h4{
        font-size: 1.5rem;
    }
    .tshirt{
        padding-top: 50px !important;
    }
    .art h5{
        font-size: 1.2rem; 
    }
    .art h1{
        font-size: 1.9rem;
    }
    .art .card-body{
        padding: 0 10px;
    }
    .art .card-body i{
        font-size: 1.1rem !important;
    }
    .art .card-body a{
        font-size: 0.9rem;
        margin: 0 !important;
    }
    .art .card-body span{
        font-size: 0.9rem !important;
        margin: 0 !important;
    }
    .art .card-body h3{
        font-size: 1.5rem;
    }
    .order{
        display: flex;
        justify-content: center;
        padding: 5px 0;
    }
    .order h1{
        font-size: 2.7rem;
        padding: 0 90px;
    }
    .phone{
        padding-top: 20px;
        
    }
    .phone i{
        font-size: 3.1rem;
    }
    .phone span{
        font-size: 1.8rem;
    }
    .phone button{
        padding: 15px 30px;
    }
}
@media (max-width: 991.98px) {
    .bgvideo{
        height: 60vh;
    }
    .content{
        padding: 50px 0;
    }
    .content h1{
        width: 80%;
        font-size: 3.5rem;
    }
    .content p{
        width: 70%;
        font-size: 1.1rem;
    }
    .material{
        padding: 0 10px;
    }
    .material i{
        font-size: 2rem;
    }
    .material a{
        font-size: 1rem;
    }
    .material p{
        font-size: 0.7rem;
    }
    .myimg{ 
        margin-top: 100px;
        bottom: 50px;
        height: 300px;
    }
    .myimg img{
        width: 200px;
        height: 250px;
    }
    .img1{
        left: 40px;
    }
    .img2{
        right: 40px;
    }
    .abt h6{
        font: 1rem;
    }
    .abt h1{
        font-size: 1.7rem;
    }
    .abt p{
        font-size: 0.9rem;
    }
    .check span{
        font-size: 0.9rem;
    }
    .abt button{
        font-size: 1rem;
    }
    .serv .row{
        padding: 0;
        margin: 0;
    }
    .serv h5{
        font-size: 1rem;
    }
    .serv h1{
        font-size: 2.1rem;
    }
    .serv .card-text h3{
        padding: 0;
        font-size: 1.3rem;
    }
    .serv .card-text p{
        padding: 0;
        font-size: 0.8rem;
        line-height: 20px;
    }
    .serv .card-text button{
        padding: 10px 20px;
        font-size: 0.8rem;
    }
    .book{
        /* background-color: red; */
        margin: 0 !important;
        padding: 0 20px !important;
    }
    .book h5{
        font-size: 1.1rem;
    }
    .book h1{
        font-size: 1.8rem;
    }
    .book p{
        width: 100%;
        font-size: 0.9rem !important;
    }
    .book h4{
        font-size: 1.3rem;
    }
    .tshirt{
        padding: 20px !important;
    }
    .art h5{
        font-size: 1rem;
    }
    .art h1{
        font-size: 1.4rem;
    }
    .art .card-body{
        padding: 0 10px;
    }
    .art .card-body i{
        font-size: 0.9rem !important;
    }
    .art .card-body a{
        font-size: 0.7rem;
        margin: 0 !important;
    }
    .art .card-body span{
        font-size: 0.6rem !important;
        margin: 0 !important;
    }
    .art .card-body h3{
        font-size: 1.3rem;
    }
    .order{
        padding: 5px 0;
    }
    .order h1{
        font-size: 2.1rem;
        padding: 0 50px;
    }
    .phone{
        width: 100%;
        display: flex;
        padding-top: 20px;
        
    }
    .phone i{
        font-size: 3.1rem;
    }
    .phone span{
        font-size: 1.8rem;
        margin: 0 10px;
        text-align: center;
    }
    .phone button{
        padding: 12px 24px;
        
    }
}
@media (max-width: 767.98px) {
    .navbar-expand-lg{
        padding: 5px 0;
    }
    .bgvideo{
        height: 90vh;
    }
    .content{
        padding: 0;
    }
    .content h1{
        width: 80%;
        font-size: 2.2rem;
    }   
    .content p{
        width: 80%;
        font-size: 1rem;
    }
    .content button{
        margin-top: 10px;
    }
    .material{
        padding: 0 10px;
    }
    .material i{
        font-size: 2rem;
    }
    .material a{
        font-size: 1rem;
    }
    .material p{
        line-height: 20px;
        font-size: 0.7rem;
    }
    .myimg{
        bottom: 50px;
        height: 300px;
        margin: 0;
    }
    .myimg img{
        width: 200px;
        height: 250px;
    }
    .img1{
        left: 40px;
    }
    .img2{
        right: 40px;
    }
    .abt h6{
        font: 1rem;
    }
    .abt h1{
        font-size: 1.7rem;
    }
    .abt p{
        font-size: 0.9rem;
    }
    .check span{
        font-size: 0.9rem;
    }
    .abt button{
        font-size: 1rem;
    }
    .serv .row{
        padding: 0;
        margin: 0;
    }
    .serv h5{
        font-size: 1rem;
    }
    .serv h1{
        font-size: 1.9rem;
    }
    .serv .card-text h3{
        padding: 0;
        font-size: 1.1rem;
    }
    .serv .card-text p{
        padding: 0;
        font-size: 0.77rem;
        line-height: 18px;
    }
    .serv .card-text button{
        padding: 10px 20px;
        font-size: 0.8rem;
    }
    .book{
        /* background-color: red; */
        margin: 0 !important;
        padding: 0 20px !important;
    }
    .book h5{
        font-size: 1rem;
    }
    .book h1{
        font-size: 1.5rem;
    }
    .book p{
        width: 100%;
        font-size: 0.8rem !important;
    }
    .book h4{
        font-size: 1.1rem;
    }
    .tshirt{
        padding: 20px 0 !important;
    }
    .pickup .fas{
        width: 100px;
        height: 100px;
        font-size: 0.5rem;
    }
    .pickup h4{
        font-size: 1.2rem;
    }
    .pickup p{
        font-size: 0.9rem;
        padding: 0;
    }
    .pickup .fas{
        width: 80px;
        height: 80px
    }
    .art h5{
        font-size: 1rem;
    }
    .art h1{
        font-size: 1.4rem;
    }
    .art .card-body{
        padding: 0 5px;
    }
    .art .card-body i{
        font-size: 0.7rem !important;
    }
    .art .card-body a{
        font-size: 0.7rem;
        margin: 0 !important;
    }
    .art .card-body span{
        font-size: 0.5rem !important;

    }
    .art .card-body h3{
        font-size: 1rem;
    }
    .order{
        padding: 5px 0;
        display: flex;
        justify-content: center;
    }
    .order h1{
        padding: 0 50px;
    }
    .phone{
        display: flex;
        padding-top: 20px;
    }
    .phone i{
        font-size: 3.1rem;
    }
    .phone span{
        font-size: 1.6rem;
        margin: 0 10px;
        text-align: center;
    }
    .phone button{
        padding: 12px 24px;
    }
    .order h1{
        font-size: 2rem;
    }
    .phone{
        display: flex;
        align-items: center;
        padding-top: 20px;
    }
    .phone i{
        font-size: 2.8rem;
    }
    .phone span{
        font-size: 1.5rem;
        margin: 0 10px;
        text-align: center;
    }
    .phone button{
        padding: 10px 20px;
        font-size: 0.8rem;
    }
    .article{
        font-size: 0.9rem;
    }
    .article span{
       font-size: 1rem !important; 
    }
    .article h5,h6{
        font-size: 1rem;
    }
}


@media (max-width: 575.98px) {
    .navbar-expand-lg{
        padding: 5px 0;
    }
    .bgvideo{
        height: 50vh;
    }   
    .content{
        padding: 0;
    }
    .content h1{
        width: 80%;
        font-size: 1.7rem;
    }
    .content p{
        width: 90%;
        font-size: 0.8rem;
    }
    .content button{
        padding: 8px 25px;
        margin-top: 20px;
    }
    .card-body h3{
        font-size: 1.5rem;
    }
    .card-body p{
        padding: 0;
        font-size: 1rem;
    }
    .blog img{
        border-radius: 2%;
    }
    .article{
        text-align: center;
    }
    .font{
        margin: 20px auto;
    }
    .book{
        padding-bottom: 0 !important;
    }
    .book p{
        padding: 0 !important;
        font-size: 1.1rem !important;
    }
    .minus{
        padding: 0 !important;
    }
    .minus .row{
        padding: 0 !important;
    }
    .myimg{
        bottom: 50px;
        height: 270px;
    }
    .myimg img{
        width: 170px;
        height: 220px;
    }
    .img1{
        left: 30px;
    }
    .img2{
        right: 30px;
    }
    .abt h6{
        font: 1rem;
    }
    .abt h1{
        font-size: 1.5rem;
    }
    .abt p{
        font-size: 0.9rem;
    }
    .check span{
        font-size: 0.9rem;
    }
    .abt button{
        padding: 8px 15px;
    }
    .serv .row{
        padding: 0;
        margin: 0;
    }
    .serv h5{
        font-size: 0.9rem;
    }
    .serv h1{
        font-size: 1.7rem;
    }
    .serv .card-text h3{
        font-size: 1.5rem;
    }
    .serv .card-text p{
        font-size: 0.8rem;
        line-height: 20px;
    }
    .serv .card-text button{
        padding: 10px 20px;
        font-size: 0.8rem;
    }
    .book{
        margin: 0 !important;
        padding: 30px 10px !important;
    }
    .img-full{
        background-color: red;
        height: 250px;
    }
    .tshirt{
        padding: 10px 0 !important;
    }
    .book h5{
        font-size: 1rem;
    }
    .book h1{
        font-size: 1.5rem;
    }
    .book p{
        width: 100%;
        font-size: 0.9rem !important;
    }
    .book h4{
        font-size: 1.2rem;
    }
    .minus{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .minus .row{
        width: 100%;
        padding: 20px 0 !important;
        /* background-color: red; */
    } 
    .minus h5{
        font-size: 1rem;
    }
    .minus h1{
        font-size: 1.6rem;
    }
    .pickup h4{
        width: 100%;
        font-size: 1.3rem;
    }
    .pickup p{
        font-size: 1rem;
        padding: 0 40px;
    }
    .pickup .fas{
        width: 90px;
        height: 90px;
    }
    .art h5{
        font-size: 1rem;
    }
    .art h1{
        font-size: 1.4rem;
    }
    .art .card-body{
        padding: 0 15px;
        text-align: center;
    }
    .art .card-body i{
        width: 10px;
        height: 10px;
        font-size: 1rem !important;
    }
    .art .card-body a{
        font-size: 0.9rem;
        margin: 0 5px !important;
    }
    .art .card-body span{
        font-size: 0.6rem !important;
        margin: 0 5px;
    }
    .art .card-body h3{
        font-size: 1.3rem;
    }
    .order{
        padding: 5px 0;
    }
    .phone{
        display: flex;
        align-items: center;
        padding-top: 20px;
    }
    .phone i{
        font-size: 2rem;
    }
    .phone span{
        font-size: 1rem;
        margin: 0 10px;
        text-align: center;
    }
    .phone button{
        padding: 5px 10px;
        font-size: 0.8rem;
    }
    .order h1{
        text-align: center;
        padding: 0;
        font-size: 1.5rem;
    }
    .article .row:last-child h5{
        font-size: 1.1rem;
    }
}